[package]
;item=Item_TOC_name,         Item_filename,
item=scp,                    scp.fex
item=u-boot,                 u-boot.fex
item=monitor,                monitor.fex
item=soc-cfg,                config.fex
item=dtb,                    sunxi.fex
item=board-cfg,              board.fex
item=logo,                   bootlogo.bmp.lzma
item=shutdowncharge,         bempty.bmp.lzma
item=androidcharge,          battery_charge.bmp.lzma
