on init
    #insmod /disp.ko
    insmod /gt9xxnew_ts.ko
	
    mkdir /usbhost
    mkdir /extsd
    mkdir /bootloader
service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group shell log
    seclabel u:r:shell:s0
