type trim, domain;
type trim_exec, exec_type, file_type;
init_daemon_domain(trim)

allow trim self:capability { dac_override sys_admin };
allow trim { system_data_file logger_file }:dir { read open ioctl };
allow trim block_device:dir { search };
allow trim property_socket:sock_file { write };
allow trim init:unix_stream_socket connectto;
allow trim ctl_default_prop:property_service set;
allow trim rootfs:lnk_file getattr;
allow trim cache_file:dir { read ioctl open };
