#
# Touchscreen driver configuration
#
menuconfig INPUT_TOUCHPAD
	bool "Touchpad"
	help
	  Say Y here, and a list of supported touchpad will be displayed.
	  This option doesn't affect the kernel.

	  If unsure, say Y.

if INPUT_TOUCHPAD

source "drivers/input/touchpad/gsl680/Kconfig"

endif
