on init

    mkdir /usbhost
    mkdir /extsd
    mkdir /bootloader

service console /system/bin/sh
    class core
    console
    disabled
    user shell
    group shell log
    seclabel u:r:shell:s0
